In [141]:
from dotenv import load_dotenv
import os
import pandas as pd
from datetime import datetime
import numpy as np

In [142]:
load_dotenv()

raw_data_path = os.getenv('RAW_DATA_PATH')

# Checks to see that the CSV is properly loaded and ready to go into a dataframe

if raw_data_path is None:
    print("Error: RAW_DATA_PATH not found in .env file.")
else:
    print(f"CSV loaded successfully!")

CSV loaded successfully!

In [143]:
df = pd.read_csv(raw_data_path)
print(df.head())
print(df.tail())

  Carrier Code Date (MM/DD/YYYY)  Flight Number Tail Number  \
0           AS        01/01/2023            2.0      N525AS
1           AS        01/01/2023            4.0      N513AS
2           AS        01/01/2023            8.0      N973AK
3           AS        01/01/2023           12.0      N472AS
4           AS        01/01/2023           16.0      N977AK

  Destination Airport Scheduled departure time Actual departure time  \
0                 DCA                    14:05                 14:01
1                 DCA                    08:20                 09:04
2                 EWR                    07:40                 07:38
3                 BOS                    07:35                 07:28
4                 MCO                    07:55                 07:54

   Scheduled elapsed time (Minutes)  Actual elapsed time (Minutes)  \
0                             292.0                          272.0
1                             294.0                          272.0
2                             310.0                          298.0
3                             315.0                          302.0
4                             330.0                          316.0

   Departure delay (Minutes) Wheels-off time  Taxi-Out time (Minutes)  \
0                       -4.0           14:16                     15.0
1                       44.0           09:17                     13.0
2                       -2.0           07:58                     20.0
3                       -7.0           07:44                     16.0
4                       -1.0           08:09                     15.0

   Delay Carrier (Minutes)  Delay Weather (Minutes)  \
0                      0.0                      0.0
1                     22.0                      0.0
2                      0.0                      0.0
3                      0.0                      0.0
4                      0.0                      0.0

   Delay National Aviation System (Minutes)  Delay Security (Minutes)  \
0                                       0.0                       0.0
1                                       0.0                       0.0
2                                       0.0                       0.0
3                                       0.0                       0.0
4                                       0.0                       0.0

   Delay Late Aircraft Arrival (Minutes)
0                                    0.0
1                                    0.0
2                                    0.0
3                                    0.0
4                                    0.0
                                       Carrier Code Date (MM/DD/YYYY)  \
78268                                            AS        12/31/2023
78269                                            AS        12/31/2023
78270                                            AS        12/31/2023
78271                                           NaN               NaN
78272   SOURCE: Bureau of Transportation Statistics               NaN

       Flight Number Tail Number Destination Airport Scheduled departure time  \
78268         1318.0      N315AS                 SFO                    18:15
78269         1326.0      N619AS                 SNA                    06:03
78270         1328.0      N479AS                 OAK                    21:49
78271            NaN         NaN                 NaN                      NaN
78272            NaN         NaN                 NaN                      NaN

      Actual departure time  Scheduled elapsed time (Minutes)  \
78268                 18:07                             139.0
78269                 05:55                             162.0
78270                 21:42                             130.0
78271                   NaN                               NaN
78272                   NaN                               NaN

       Actual elapsed time (Minutes)  Departure delay (Minutes)  \
78268                          139.0                       -8.0
78269                          156.0                       -8.0
78270                          121.0                       -7.0
78271                            NaN                        NaN
78272                            NaN                        NaN

      Wheels-off time  Taxi-Out time (Minutes)  Delay Carrier (Minutes)  \
78268           18:33                     26.0                      0.0
78269           06:10                     15.0                      0.0
78270           21:58                     16.0                      0.0
78271             NaN                      NaN                      NaN
78272             NaN                      NaN                      NaN

       Delay Weather (Minutes)  Delay National Aviation System (Minutes)  \
78268                      0.0                                       0.0
78269                      0.0                                       0.0
78270                      0.0                                       0.0
78271                      NaN                                       NaN
78272                      NaN                                       NaN

       Delay Security (Minutes)  Delay Late Aircraft Arrival (Minutes)
78268                       0.0                                    0.0
78269                       0.0                                    0.0
78270                       0.0                                    0.0
78271                       NaN                                    NaN
78272                       NaN                                    NaN

In [144]:
# Drop carrier code column and last 2 rows
df = df.drop(df.columns[0], axis=1)
df = df.iloc[:-2]

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78271 entries, 0 to 78270
Data columns (total 16 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Date (MM/DD/YYYY)                         78271 non-null  object
 1   Flight Number                             78271 non-null  float64
 2   Tail Number                               78271 non-null  object
 3   Destination Airport                       78271 non-null  object
 4   Scheduled departure time                  78271 non-null  object
 5   Actual departure time                     78271 non-null  object
 6   Scheduled elapsed time (Minutes)          78271 non-null  float64
 7   Actual elapsed time (Minutes)             78271 non-null  float64
 8   Departure delay (Minutes)                 78271 non-null  float64
 9   Wheels-off time                           78271 non-null  object
 10  Taxi-Out time (Minutes)                   78271 non-null  float64
 11  Delay Carrier (Minutes)                   78271 non-null  float64
 12  Delay Weather (Minutes)                   78271 non-null  float64
 13  Delay National Aviation System (Minutes)  78271 non-null  float64
 14  Delay Security (Minutes)                  78271 non-null  float64
 15  Delay Late Aircraft Arrival (Minutes)     78271 non-null  float64
dtypes: float64(10), object(6)
memory usage: 9.6+ MB
None

In [145]:
# Prepare columns for recasting

# Convert column names to snake case, remove text in parentheses, replace hyphens with underscores
df.columns = df.columns.str.replace(r'\s*\(.*?\)\s*', '', regex=True)
df.columns = df.columns.str.replace(' ', '_').str.lower()
df.columns = df.columns.str.replace('-', '_')

# Replace problematic midnight times with 00:00, which datetime recognizes better
df['scheduled_departure_time'] = df['scheduled_departure_time'].replace('24:00', '00:00')
df['actual_departure_time'] = df['actual_departure_time'].replace('24:00', '00:00')
df['wheels_off_time'] = df['wheels_off_time'].replace('24:00', '00:00')

# Strip time columns
df['scheduled_departure_time'] = df['scheduled_departure_time'].str.strip()
df['actual_departure_time'] = df['actual_departure_time'].str.strip()
df['wheels_off_time'] = df['wheels_off_time'].str.strip()

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78271 entries, 0 to 78270
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   date                            78271 non-null  object
 1   flight_number                   78271 non-null  float64
 2   tail_number                     78271 non-null  object
 3   destination_airport             78271 non-null  object
 4   scheduled_departure_time        78271 non-null  object
 5   actual_departure_time           78271 non-null  object
 6   scheduled_elapsed_time          78271 non-null  float64
 7   actual_elapsed_time             78271 non-null  float64
 8   departure_delay                 78271 non-null  float64
 9   wheels_off_time                 78271 non-null  object
 10  taxi_out_time                   78271 non-null  float64
 11  delay_carrier                   78271 non-null  float64
 12  delay_weather                   78271 non-null  float64
 13  delay_national_aviation_system  78271 non-null  float64
 14  delay_security                  78271 non-null  float64
 15  delay_late_aircraft_arrival     78271 non-null  float64
dtypes: float64(10), object(6)
memory usage: 9.6+ MB
None

In [146]:
# Recast data types of columns

# Convert string and datetime columns to correct data type
df['tail_number'] = df['tail_number'].astype('string')
df['destination_airport'] = df['destination_airport'].astype('string')

# 'flight_number' needs to be converted into a string and back so we can remove the '.0' from every value
df['flight_number'] = df['flight_number'].astype('string')
df['flight_number'] = df['flight_number'].str.split('.').str[0]
df['flight_number'] = df['flight_number'].astype('string')

# Converting datetime data to strings for concatenation and recasting later
df['date'] = df['date'].astype('string')
df['scheduled_departure_time'] = df['scheduled_departure_time'].astype('string')
df['actual_departure_time'] = df['actual_departure_time'].astype('string')
df['wheels_off_time'] = df['wheels_off_time'].astype('string')
# Concatenating datetime strings to ensure datetime data is accurate
df['scheduled_departure_time'] = pd.to_datetime(df['date'] + ' ' + df['scheduled_departure_time'])
df['actual_departure_time'] = pd.to_datetime(df['date'] + ' ' + df['actual_departure_time'])
df['wheels_off_time'] = pd.to_datetime(df['date'] + ' ' + df['wheels_off_time'])

# Casting to datetime type, coerce will return nulls if anything goes wrong
df['scheduled_departure_time'] = pd.to_datetime(df['scheduled_departure_time'], format='%H:%M', errors='coerce')
df['actual_departure_time'] = pd.to_datetime(df['actual_departure_time'], format='%H:%M', errors='coerce')
df['wheels_off_time'] = pd.to_datetime(df['wheels_off_time'], format='%H:%M', errors='coerce')
df['date'] = pd.to_datetime(df['date'], format='%m/%d/%Y', errors='coerce')

# Identify columns currently listed as floats
float_columns = df.select_dtypes(include='float64').columns

# Function to check if a column can be converted to integers
def can_convert_to_int(column):
    return (column == column.astype('Int64')).all()

# List of columns that can be converted to integers
int_convertible_columns = [col for col in float_columns if can_convert_to_int(df[col])]

# Loop through and convert the columns to integers
for col in int_convertible_columns:
    df[col] = df[col].astype('Int64') # Int64 type will raise an error if NaN/None pops up

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78271 entries, 0 to 78270
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   date                            78271 non-null  datetime64[ns]
 1   flight_number                   78271 non-null  string
 2   tail_number                     78271 non-null  string
 3   destination_airport             78271 non-null  string
 4   scheduled_departure_time        78271 non-null  datetime64[ns]
 5   actual_departure_time           78271 non-null  datetime64[ns]
 6   scheduled_elapsed_time          78271 non-null  Int64
 7   actual_elapsed_time             78271 non-null  Int64
 8   departure_delay                 78271 non-null  Int64
 9   wheels_off_time                 78271 non-null  datetime64[ns]
 10  taxi_out_time                   78271 non-null  Int64
 11  delay_carrier                   78271 non-null  Int64
 12  delay_weather                   78271 non-null  Int64
 13  delay_national_aviation_system  78271 non-null  Int64
 14  delay_security                  78271 non-null  Int64
 15  delay_late_aircraft_arrival     78271 non-null  Int64
dtypes: Int64(9), datetime64[ns](4), string(3)
memory usage: 10.2 MB
None

## Data Cleaning

### All Columns
[x] Data range constraints\
[x] Uniqueness constraints\
[x] Missing data

### String Columns
[x] Length violations\
[x] Inconsistent formatting

### Datetime Columns
[x] Unit uniformity (handled in recasting)\
[ ] Crossfield validation

### Numeric Columns
[x] Unit uniformity (handled in recasting)\
[ ] Crossfield validation

In [147]:
# Display any duplicate rows
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [date, flight_number, tail_number, destination_airport, scheduled_departure_time, actual_departure_time, scheduled_elapsed_time, actual_elapsed_time, departure_delay, wheels_off_time, taxi_out_time, delay_carrier, delay_weather, delay_national_aviation_system, delay_security, delay_late_aircraft_arrival]
Index: []

In [148]:
# Check for nulls and store the results in a DataFrame
null_counts_per_column = df.isnull().sum().reset_index()
null_counts_per_column.columns = ['Column Name', 'Null Count']

print(null_counts_per_column)

                       Column Name  Null Count
0                             date           0
1                    flight_number           0
2                      tail_number           0
3              destination_airport           0
4         scheduled_departure_time           0
5            actual_departure_time           0
6           scheduled_elapsed_time           0
7              actual_elapsed_time           0
8                  departure_delay           0
9                  wheels_off_time           0
10                   taxi_out_time           0
11                   delay_carrier           0
12                   delay_weather           0
13  delay_national_aviation_system           0
14                  delay_security           0
15     delay_late_aircraft_arrival           0

In [149]:
# Data range constraints

# Check that all dates are in 2023
columns_to_check = ['date', 'scheduled_departure_time', 'actual_departure_time', 'wheels_off_time']

results = []

for column in columns_to_check:
    not_in_2023 = (~(df[column].dt.year == 2023)).sum()
    results.append((column, not_in_2023))
    
summary_df = pd.DataFrame(results, columns=['Column Name', 'Count Not in 2023'])

print(summary_df)

# Check that all time columns fall within logical range constraints

# Reset columns_to_check list
columns_to_check = ['scheduled_departure_time', 'actual_departure_time', 'wheels_off_time']

results = []

start_time = pd.to_datetime('00:00').time()
end_time = pd.to_datetime('23:59').time()

for column in columns_to_check:
    invalid_times = (~df[column].dt.time.between(start_time, end_time, inclusive='both')).sum()
    results.append((column, invalid_times))

# Overwrite summary_df from now on to reuse memory
summary_df = pd.DataFrame(results, columns=['Column Name', 'Count Invalid Times'])

print(summary_df)

# Check that relevant int64 columns are non-negative
columns_to_check = ['scheduled_elapsed_time', 'actual_elapsed_time', 'taxi_out_time', 'delay_carrier', 'delay_weather', 'delay_national_aviation_system', 'delay_security', 'delay_late_aircraft_arrival']

summary_data = []

for column in columns_to_check:
    negative_count = (df[column] < 0).sum()
    summary_data.append({'Column': column, 'Negative_Count': negative_count})

summary_df = pd.DataFrame(summary_data)

print(summary_df)

                Column Name  Count Not in 2023
0                      date                  0
1  scheduled_departure_time                  0
2     actual_departure_time                  0
3           wheels_off_time                  0
                Column Name  Count Invalid Times
0  scheduled_departure_time                    0
1     actual_departure_time                    0
2           wheels_off_time                    0
                           Column  Negative_Count
0          scheduled_elapsed_time               0
1             actual_elapsed_time               0
2                   taxi_out_time               0
3                   delay_carrier               0
4                   delay_weather               0
5  delay_national_aviation_system               0
6                  delay_security               0
7     delay_late_aircraft_arrival               0

In [150]:
# Length violations (strings)

# Aiport codes can't be more than 4 characters
columns_to_check = ['destination_airport']

results = []

for column in columns_to_check:
    count_exceeding = df[column].astype(str).apply(len).gt(4).sum()
    results.append((column, count_exceeding))

summary_df = pd.DataFrame(results, columns=['Column Name', 'Count > 4 Characters'])

print(summary_df)

# Flight numbers and tail numbers can't be greater than 6 characters
columns_to_check = ['flight_number', 'tail_number']

results = []

for column in columns_to_check:
    count_exceeding = df[column].astype(str).apply(len).gt(6).sum()
    results.append((column, count_exceeding))

summary_df = pd.DataFrame(results, columns=['Column Name', 'Count > 6 Characters'])

print(summary_df)

           Column Name  Count > 4 Characters
0  destination_airport                     0
     Column Name  Count > 6 Characters
0  flight_number                     0
1    tail_number                     0

In [151]:
# Cross-validation

# Check that actual depature time - scheduled departure time = departure delay

# Add the delay time from all delay category columns to ensure they equal departure delay column

# Check that wheels-off time is always equal to or later than actual departure time

# Taxi-out time can't be greater than the difference between wheels-off time and actual departure timne

# The same tail number should not appear with a conflicting departure datetime

In [152]:
# Formatting consistency (strings)

# Flight, tail, and destination airports can only have numbers or capital letters
columns_to_check = ['flight_number', 'tail_number', 'destination_airport']

summary_data = []

for column in columns_to_check:
    invalid_count = df[column].str.match(r'^[A-Z0-9]+$').sum()
    invalid_values_count = len(df) - invalid_count
    
    summary_data.append({'Column': column, 'Invalid_Count': invalid_values_count})

summary_df = pd.DataFrame(summary_data)

print(summary_df)

                Column  Invalid_Count
0        flight_number              0
1          tail_number              0
2  destination_airport              0

## Feature Engineering

In [153]:
# Make an explicit index column 'trip_id' in case SQL/others need a primary key
df.insert(0, 'trip_id', range(1, len(df)+1)) # Starting at 1 for easy indexing in SQL/others
df.set_index('trip_id', inplace=True, drop=False)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 78271 entries, 1 to 78271
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   trip_id                         78271 non-null  int64
 1   date                            78271 non-null  datetime64[ns]
 2   flight_number                   78271 non-null  string
 3   tail_number                     78271 non-null  string
 4   destination_airport             78271 non-null  string
 5   scheduled_departure_time        78271 non-null  datetime64[ns]
 6   actual_departure_time           78271 non-null  datetime64[ns]
 7   scheduled_elapsed_time          78271 non-null  Int64
 8   actual_elapsed_time             78271 non-null  Int64
 9   departure_delay                 78271 non-null  Int64
 10  wheels_off_time                 78271 non-null  datetime64[ns]
 11  taxi_out_time                   78271 non-null  Int64
 12  delay_carrier                   78271 non-null  Int64
 13  delay_weather                   78271 non-null  Int64
 14  delay_national_aviation_system  78271 non-null  Int64
 15  delay_security                  78271 non-null  Int64
 16  delay_late_aircraft_arrival     78271 non-null  Int64
dtypes: Int64(9), datetime64[ns](4), int64(1), string(3)
memory usage: 11.4 MB
None